--find-links https://download.pytorch.org/whl/torch_stable.html
--extra-index-url https://download.pytorch.org/whl/cu117
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/accelerate
torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1
datasets
sentencepiece
pyserial
more_itertools
bitsandbytes
